<% if @job.blank? %>
  <h2><u>Error:</u> Job Details Not Found</h2>
  <p>
    <small><strong>Job ID:</strong> <%= params[:job_id] %></small>
    <br />
    <small><strong>Time:</strong> <%= Time.now.to_s %></small>
  </p>
<% else %>
  <% job_status =  @job[:queued] ? "Queued" : @job[:current] ? "running" : @job[:failed] ? "failed" : @job[:complete] ? "complete" : "unknown" %>
  <% job_status_class =  @job[:queued] ? "queued" : @job[:current] ? "Running" : @job[:failed] ? "Unhandled error" : @job[:complete] ? "Complete" : "Unknown" %>
  <h2>
    <i class="fa fa-github"></i> <%= @job[:issue_url].to_s.include?("issue") ? 'Issue' : 'Pull Request' %>: <a href="<%= @job[:issue_url] %>"> <%= @job[:issue_title] %></a>
  </h2>

  <div class="job">
    <div class="status">
      <label>Status</label>
      <span class="status-label status <%= job_status_class %>"><%= job_status %></span>
    </div>

    <div class="status">
      <label>Branch</label>
      <span><%= @job[:branch] %></span>
    </div>

    <div class="status">
      <label>Command</label>
      <span><%= @job[:arguments] %></span>
    </div>

    <div class="status">
      <label>Time created</label>
      <% if Time.now-@job[:enqueued_at] < 24*60*60 %>
        <span><a title="<%= @job[:enqueued_at].strftime("%l:%M%p %b %e, %Y") %>"><%= time_ago_in_words(@job[:enqueued_at]) %></a></span>
      <% else %>
        <span><%= @job[:enqueued_at].strftime("%l:%M%p %b %e, %Y") %></span>
      <% end %>
    </div>

    <div class="status">
      <label>Created by</label>
      <span><%= @job[:github_user] %></span>
    </div>

    <% if File.exist?(PerfCheckDaemon::Job.log_path(@job[:enqueued_at])) %>
      <h4>Log</h4>
      <pre><%= File.read(PerfCheckDaemon::Job.log_path(@job[:enqueued_at]), encoding: "UTF-8") %></pre>
    <% else %>
      <h4>No log available.</h4>
    <% end %>
  </div>
<% end %>