<% if @job.blank? %>
  <h2><u>Error:</u> Job Details Not Found</h2>
  <p>
    <small><strong>Job ID:</strong> <%= params[:job_id] %></small>
    <br />
    <small><strong>Time:</strong> <%= Time.now.to_s %></small>
  </p>
<% else %>
  <% job_status =  @job[:queued] ? "Queued" : @job[:current] ? "Running" : @job[:failed] ? "Unhandled error" : @job[:complete] ? "Complete" : "Failed" %>
  <% job_status_class =  @job[:queued] ? "Queued" : @job[:current] ? "running" : @job[:failed] ? "failed" : @job[:complete] ? "complete" : "unknown" %>


  <div class="job">
    <header class="job-header">
      <div class="status pull-right">
        <span class="status-label status <%= job_status_class %>"><%= job_status %></span>
      </div>
      <h2 class="branch-name">
        <span><%= @job[:branch] %></span>
      </h2>
      <div class="issue-or-pull-request">
        <%= @job[:issue_url].to_s.include?("issue") ? 'Issue' : 'Pull Request' %>: <a href="<%= @job[:issue_url] %>"> <%= @job[:issue_title] %></a>
      </div>
      <div class="created-by">
        <% enqueued_at_formatted = (@job[:enqueued_at].utc + Time.zone_offset(config.app.timezone)).strftime("%l:%M%p %b %e, %Y") %>
        <% if Time.now-@job[:enqueued_at] < 24*60*60 %>
          <span><a title="<%= enqueued_at_formatted %>"><%= time_ago_in_words(@job[:enqueued_at]) %></a></span>
        <% else %>
          <span><%= enqueued_at_formatted %></span>
        <% end %>
        by
        <span><%= @job[:github_user] %></span>
        <br>
        <pre class="command"><%= @job[:arguments] %></pre>
        <a href="#" class="re-run">re-run</a>
      </div>
    </header>
    
    <% if @job[:details]  %>
      <div class="details">
        <%= @job[:details] %>
      </div>
    <% end %>

    <% if File.exist?(PerfCheckDaemon::Job.log_path(@job[:enqueued_at])) %>
      <h4>Log</h4>
      <pre><%= File.read(PerfCheckDaemon::Job.log_path(@job[:enqueued_at]), encoding: "UTF-8") %></pre>
    <% else %>
      <h4>No log available.</h4>
    <% end %>
  </div>
<% end %>