<% if @job.blank? %>
  <h2><u>Error:</u> Job Details Not Found</h2>
  <p>
    <small><strong>Job ID:</strong> <%= params[:job_id] %></small>
    <br />
    <small><strong>Time:</strong> <%= Time.now.to_s %></small>
  </p>
<% else %>
  <% job_status =  @job[:queued] ? "Queued" : @job[:current] ? "Running" : @job[:failed] ? "Unhandled error" : @job[:complete] ? "Complete" : "Failed" %>
  <% job_status_class =  @job[:queued] ? "Queued" : @job[:current] ? "running" : @job[:failed] ? "failed" : @job[:complete] ? "complete" : "unknown" %>


  <div class="job">
    <header class="job-header">
      
      <a href="#" class="styled-button re-run pull-right"><i class="fa fa-refresh" aria-hidden="true"></i> &nbsp;Re-Run PerfCheck</a>
      <% if @job[:issue_url].to_s.include?("issue") %>
      
        <a href="<%= @job[:issue_url] %>" class="styled-button view-issue pull-right"><i class="fa fa-github" aria-hidden="true"></i> &nbsp;View Issue</a>
        <h2 class="branch-name"><%= @job[:branch] %></h2>
        <hr style="background-color: #EEE;">
        <h3><%= @job[:issue_title] %></h3>

      <% else %>
      
        <a href="<%= @job[:issue_url] %>" class="styled-button view-pr pull-right"><i class="fa fa-github" aria-hidden="true"></i> &nbsp;View #123123</a>

        <h2><%= @job[:issue_title] %></h2>
        <hr style="background-color: #EEE;">
        <h3><%= @job[:branch] %></h3>
        
      <% end %>      

      <div class="created-by">
        <% enqueued_at_formatted = (@job[:enqueued_at].utc + Time.zone_offset(config.app.timezone)).strftime("%l:%M%p %b %e, %Y") %>
        <% if Time.now-@job[:enqueued_at] < 24*60*60 %>
          <span><a title="<%= enqueued_at_formatted %>"><%= time_ago_in_words(@job[:enqueued_at]) %></a></span>
        <% else %>
          <span><%= enqueued_at_formatted %></span>
        <% end %>
        by
        <span><strong><%= @job[:github_user] %></strong></span>
      </div>
      <pre class="command"><%= @job[:arguments] %></pre>

    </header>
    
    <% if @job[:details]  %>
      <div class="details">
        <%== markdown(@job[:details]) %>
      </div>
    <% end %>

    <% if File.exist?(PerfCheckDaemon::Job.log_path(@job[:enqueued_at])) %>
      <pre id="log"><%= File.read(PerfCheckDaemon::Job.log_path(@job[:enqueued_at]), encoding: "UTF-8") %></pre>
    <% else %>
      <h4>No log available.</h4>
    <% end %>
  </div>
<% end %>